
<div class = "controls-container"> 
    <!--This cant go here, we need to make this open a modal so we can display error messages properly, 
    tell the user hey your about to overwrite the file etc. -->
    <input id='fileUpload' type='file' (change)="uploadFiles($event)" multiple /> 
    <button type="button" [disabled] = "disabled">delete</button>
</div>


<div class="object-container">
    <tr *ngFor="let bucketObject of bucketObjects">
        <td><a href="javascript:void(0)" (click)="getBucketObject(bucketObject.key)">{{bucketObject.key}}</a></td>
    </tr>
</div> 