

<div class = "modal-header"> 

    <div [ngSwitch] ="tpye" class="modal-body">
        <div *ngSwitchCase="filePop"> 
            <popup-file (close)="close()" [bucket]="bucket"></popup-file>
        </div>
        <div *ngSwitchCase="messagePop"> 
            <popup-message (close)="close()" [message]="message" ></popup-message>
        </div>
    </div>

    <!--Probably move this. Dunno what I was thinking. Well, what else is new. -->
    <button (click)="close()">Close </button> 

</div>



